
body {
    font-size: 14px;
    font-family: "Times New Roman";
    color: #6B4C41;
    background: #F2EBC4 url(http://www.htmldog.com/images/bg.gif) no-repeat top left;

}
h1 {
    padding: 20px;
    color: #F2ECBF;
	  background-color: #6B4C41;
    border: 5px #EDEDBE;
    box-shadow: 10px 10px 3px 1px #E6B053;
}
p {
    color: #6B4C41;
    letter-spacing: 0,5em;
    word-spacing: 0.2em;
    line-height: 1em;
    text-align: left;
}
#navigation {
    float: left;
    width: 200px;
}
#navigation2 {
    float: right;
    width: 150px;
}
#content {
    float: center;
    margin-left: 200px;
}
.access_aid {
    /* In addition to the existing declarations... */
    background: white 10px 10px / 20px 20px no-repeat;
}


#access_top {
    background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
}
a {
    color: blue;
    text-decoration: underline;
    text-transform: lowercase;;
}
table {
  color: #F2ECBF;
  background-color: #6B4C41;
  border: 5px #EDEDBE;
  box-shadow: 10px 10px 3px 1px #E6B053;
  font-weight: bold;
}
